@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

:root {
	--Soft-red: hsl(10, 79%, 65%);
	--Soft-red-hover: hsl(10, 79%, 80%);
	--Cyan: hsl(186, 34%, 60%);
	--Dark-brown: hsl(25, 47%, 15%);
	--Medium-brown: hsl(28, 10%, 53%);
	--Cream: hsl(27, 66%, 92%);
	--Very-pale-orange: hsl(33, 100%, 98%);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
	2. Remove default margin
  */
* {
	margin: 0;
}
/*
	3. Allow percentage-based heights in the application
  */
html,
body {
	height: 100%;
	font-family: "DM Sans", sans-serif;
}
/*
	Typographic tweaks!
	4. Add accessible line-height
	5. Improve text rendering
  */
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
	6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
	7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
	font: inherit;
}
/*
	8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
.App {
	height: 100%;
	width: 100%;
}

.App {
	display: flex;
	gap: 1.5rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--Cream);
}

.balance-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 33.75rem;
	height: 7.8125rem;
	padding: 0 2.5rem;
	color: white;
	background-color: var(--Soft-red);
	background-image: url("./images/logo.svg");
	background-repeat: no-repeat;
	background-position: 26.75rem;
	border-radius: 20px;
}

.balance-text {
	font-size: 14px;
}

.balance-number {
	margin-top: 1.125rem;
	font-size: 24px;
	font-weight: 700;
}

.spending-container {
	width: 33.75rem;
	height: 31.875rem;
	padding: 2.5rem 2.5rem;
	background-color: white;
	border-radius: 20px;
}

.title {
	font-size: 23px;
	margin-bottom: 1.25rem;
}

.chart-container {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	cursor: pointer;
}

.amounts {
	display: flex;
	height: fit-content;
}

.charts {
	display: flex;
	align-items: flex-end;
}

.amount {
	position: absolute;
	width: 4.5rem;
	height: 2.5rem;
	color: white;
	font-size: 13px;
	background-color: var(--Dark-brown);
	border-radius: 10px;
}

.emty-amount {
	height: 2.5rem;
	width: 4.5rem;
	visibility: hidden;
}

.chart {
	width: 3.14rem;
	color: var(--Soft-red);
	margin-left: 0.5rem;
	margin-right: 0.625rem;
	margin-top: 0.5rem;
	background-color: var(--Soft-red);
	border-radius: 5px;
	font-size: 0px;
}

.chart:hover {
	color: var(--Soft-red-hover);
	background-color: var(--Soft-red-hover);
}

.day {
	color: var(--Medium-brown);
}

.separetor {
	margin-top: 2.25rem;
	border: 1px solid var(--Cream);
}

.spending-footer {
	display: flex;
	justify-content: space-between;
	margin-top: 2.25rem;
}

.left,
.right {
	display: flex;
	flex-direction: column;
}

.right {
	align-self: flex-end;
}

.total-month-text {
	color: var(--Medium-brown);
}

.total-month-number {
	font-size: 34px;
	font-weight: 700;
}

.percent-month {
	font-weight: 700;
}

.text-month {
	color: var(--Medium-brown);
}

.attribution {
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}
.attribution a {
	color: var(--Soft-red);
}

@media only screen and (max-width: 550px) {
	.chart-container:visited,
	.chart-container:hover,
	.chart-container:active {
		background-color: transparent;
		color: white;
	}
	.balance-container {
		width: 21.25rem;
		height: 6rem;
		padding: 0 1.25rem;
		background-position: 14.5rem;
	}

	.balance-number {
		margin-top: 0.625rem;
		font-size: 17px;
	}

	.spending-container {
		width: 21.25rem;
		height: 26.25rem;
		padding: 1.25rem 1.25rem;
	}

	.chart {
		width: 2rem;
		margin-left: 0.5rem;
		margin-top: 0.5rem;
		background-color: var(--Soft-red);
		border-radius: 5px;
	}

	.spending-footer {
		margin-top: 1.75rem;
	}

	.right {
		align-self: center;
	}
}
